<div class="notifications <%= notification.notification_type %>">
  <div class="per_notification">
    Notification with id: <%= notification.id %>
  </div>
  <div class="notification_type">
    <%= notification.notification_type %>
  </div>
  <div class="notification_message">
    <%= notification.message %>
  </div>
</div>
