<div class="account">
<div class="title-acct">My Account</div>
<h3><strong>Email:</strong> <%= @user.email %> </h3>
<%= render partial: "organizations/list_organizations", locals: {user: @user} %>

</div>
