<div class="row">
	<div class="span-12">
		<% if user_signed_in? %>
			Current User: <%= current_user.email %> | <%= link_to("Logout",destroy_user_session_path, :method => :delete)%>

			<%= link_to("My Account", user_path(current_user)) %>
		<% else %>
			<%= link_to("Login",new_user_session_path) %>
		<% end %>
	</div>
	<div class="span-4"></div>

</div>