<%= link_to 'NotifyIO', root_path, class: 'logo' %>

<div class="link-container">

  <% if current_user %>
    <div class="link collapsable closed">
      My Organizations
      <div class="inner">
        <!-- TODO paginate -->
        <% current_user.organizations.limit(5).each do |org| %>
          <%= link_to org.name, organization_path(org), class: 'link' %>
        <% end %>
      </div>
    </div>

    <%# 5.times do %>
      <%#= link_to 'Test link', '#', class: 'link' %>
    <%# end %>

  <% else %>
    <%= link_to "Login", new_user_session_path, class: 'link' %>
  <% end %>
</div>
