<%= link_to 'NotifyIO', root_path, class: 'logo' %>

<div class="link-container">

  <div class="link collapsable closed">
    My Organizations
    <div class="inner">
      <% current_user.organizations.each do |org| %>
        <%= link_to org.name, organization_path(org), class: 'link' %>
      <% end %>
    </div>
  </div>

  <% 5.times do %>
  <%= link_to 'Test link', '#', class: 'link' %>
  <% end %>
</div>
