<div class="container cheeky-mocks">
  <div class="header">setting</div>
  <div class="row">
    <div class="span-12 offset-2 y-12">
      <div class="row">
        Auth Token: <br>
        <div class="span-4 offset-2 y-1" style="padding: 0px; font-size: 0.7em;"><%= SecureRandom.hex(10) %></div>
        <div class="span-2 y-1" style="padding: 0px; font-size: 0.7em;">reset</div>
      </div>

      <div class="row">
        <div class="span-8 offset-2 y-6 y-off-2">
          Account Settings (?)
          Permissions (?)
        </div>
      </div>

    </div>
  </div>
</div>
