<div class="container cheeky-mocks">
  <div class="header">signup</div>
  <div class="row">
    <div class="span-8 offset-4 y-12">
      Username:
      <div class="span-4 offset-2 y-1"></div>
      <br>
      Password:
      <div class="span-4 offset-2 y-1"></div>
      <br>
      other?:
      <div class="span-4 offset-2 y-1"></div>
      <br><br>
      <%= link_to 'Signup!', user_mock_path, class: 'button' %>
    </div>
  </div>
</div>
