<div class="container cheeky-mocks">
  <div class="header">spalsh page</div>
  <div class="row">
    <div class="span-12 offset-2 y-12">
      <p>Welcome to Notify.IO!</p>
      <%= link_to 'Signup', signup_mock_path, class: 'button' %>
      <br>
      <%= link_to 'Login', login_mock_path, class: 'button' %>
      <br>
      <br>
      <%= link_to 'Api Documentation', api_doc_mock_path, class: 'button' %>

    </div>
  </div>
</div>
