<div class="container cheeky-mocks">
  <div class="header">user's main page</div>
  <div class="row">
    <div class="span-16 y-20">
      <%= link_to 'create organization', create_organization_mock_path, class: 'button', style: 'float:right;' %>

      <div class="row">
        Your Organizations:
        <div class="span-10 y-4 y-off-2">
          FakeCo
           <%= link_to 'view', dashboard_mock_path, class: 'button', style: 'float:right;' %>
        </div>
      </div>

      <div class="row">
        <div class="span-10 y-4 y-off-2">
         JSIDE
           <%= link_to 'view', dashboard_mock_path, class: 'button', style: 'float:right;' %>
        </div>
      </div>

      <div class="row">
        <div class="span-10 y-4 y-off-2">
         FaceCalendar
           <%= link_to 'view', dashboard_mock_path, class: 'button', style: 'float:right;' %>
        </div>
      </div>

    </div>
  </div>
</div>
