// html, body { height: 100%; }
* {
  border-sizing: border-box;
}

body {
  margin: 0;
  overflow: auto;
  position: relative;
}

// TODO move side-nav to seperate css file
.side-nav {
  @include light-box;

  display: inline;
  float: left;
  height: 1000px;
  position: fixed;
  width: 200px;
  z-index: 200;

  .logo {
    text-decoration: none;
    text-align: center;
    background-color: #ddd;
    box-shadow: inset 0px 0px 6px 0px #aaa;
    color: #404040;
    font-size: 25px;
    display: block;
    padding: 5px 0;
    &:hover {
      background-color: #fafafa;
    }
  }

  .link-container {

    .link {
      display: block;
      text-decoration: none;
      padding: 10px;
      color: #404040;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.main-container {
  background-color: #fff;
  display: inline;
  float: left;
  padding-top: 45px;
  position: relative;
  width: 100%;
  min-height: 100%;


  .main-wrapper {
    margin-left: 200px;
  }
}
