// html, body { height: 100%; }
* {
  border-sizing: border-box;
}

body {
  margin: 0;
  overflow: auto;
  position: relative;
}

.main-container {
  background-color: #fff;
  display: inline;
  float: left;
  padding-top: 45px;
  position: relative;
  width: 100%;
  min-height: 100%;


  .main-wrapper {
    margin-left: 200px;
  }
}
