header {
  background-color: black;
  background-image: url(bg_texture_6.png);
  background-repeat:repeat;

  background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

  height: 45px;
  padding: 5px;

  .container {
    color: white;
    font-family: "Helvetica Neue";

    .logo {
      float: left;
      font-size: 40px;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .user-links {
      color: #9aa9c8;
      float: right;
      margin-left: 10px;
      margin-top: 20px;

      .vert-bar {
        color: white;
      }

      a {
        color: #9aa9c8;
      }
    }
  }
}
