html, body { height: 100%; }

header {
  background-color: black;
  height: 55px;
  margin-bottom: 15px;
  padding: 5px;

  .container {
    color: white;
    font-family: "Helvetica Neue";  
    /*display: inline-block;*/

    .logo {
      float: left;
      font-size: 40px;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .user-links {
      color: #9aa9c8;
      float: right;
      margin-left: 10px;
      margin-top: 20px;
      
      .vert-bar {
        color: white;
      }

      a {
        color: #9aa9c8;
      }
    }
  }
}
 
html, body { height: 100%; }
 
.container {
  margin-bottom: -40px;
  min-height: 100%;
 
  &:after {
    content: "";
    display: block;
  }
}
 
footer {
  background-color: black;
  color: white;
  font-family: "Helvetica Neue";
  line-height: 40px;
  text-align: center;
}
 
footer, .container:after { height: 40px; }
