$gray-border: #ccc;

.notification_header {
  text-align: center;
}

.notification_container {
  border: 1px solid black;

  .notifications {
    border: 1px solid black;
    text-align: center;
  }
}
