$gray-border: #ccc;

.notification_header {
  text-align: center;
}

.notification-container {
  border: 1px solid black;
  overflow: scroll;
  margin: 20px auto;
  width: 400px;
  max-height: 500px;

  .notifications {
    border: 1px solid black;
    text-align: center;
  }
}
