body {
  background-image: url(bg_texture_5.png);
  background-repeat:repeat;
}

.flash {
  font-size: 1.2em;
  margin-bottom: 5px;
  padding: 10px;

  &.success {
    background-color: rgba(0, 255, 0, 0.4);
  }

  &.notice {
    background-color: rgba(255, 255, 0, 0.4);
  }

  &.alert {
    background-color: rgba(255, 0, 0, 0.4);
  }
}

// Home page
.home {
 .header {
    font-size: 1.5em;
    text-align: center;
  }

  .btn-container {
    text-align: center;
  }

  .btn {
    background: rgb(130, 77, 165);
    border-radius: 3px;
    box-shadow: 2px 2px 3px #999;
    color: white;
    font-size: 1.4em;
    padding: 5px 10px;
    text-decoration: none;
  }
}

