<div class="orgs-card">
  <div class="top-header"> Your Organizations:</div>

<% user.organizations.each do |org| %>
  <%= link_to org.name, organization_path(org), class: "org-header" %> 
<% end %>

  <div class="padding-hack"></div>
  <div class="bottom-footer">
    <%= link_to "Create organization", new_organization_path %>
  </div>
</div>
